<h1>My Properties</h1>



<div class="container show-property">
  
    <% @properties.each do |property, landlord| %>
      <div class="col-md-12">
        <div class="caption">
        <%= link_to(property) do %>
              <h3><%= property.address %></h3>
              <p><%= number_to_currency(property.price) %> per month.</p>
              <p><%= property.description %></p>        
        <% end %>
        </div>
      </div>
    <% end %>
  
</div>

<br>

<%= link_to 'New Listing', new_property_path, class: "btn btn-default" %>