
<p>
  <h3><%= @property.address %></h3>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  	<p><%= @property.price %> per. month</p>
  </%>
</p>

<% if current_landlord == @property.landlord %>
  <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', properties_path, class: "btn btn-link" %>
