<div class="container show-property">
  <div class="col-md-8">
    <p>
      <h1><%= @property.address %></h1>
    </p>

    <p>
      <strong>City:</strong>
      <%= @property.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @property.state %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @property.description %>
    </p>

    <p>
      <strong>Price:</strong>
      	<p><%= @property.price %> per. month</p>
      </%>
    </p>

    <% if current_landlord == @property.landlord %>
      <%= link_to 'EDIT', edit_property_path(@property), class: "btn btn-form" %>       
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>
      This Property's Leases
      <%= link_to new_property_lease_path(@property) do %>
        <i class="fa fa-plus-circle new-lease"></i>
      <% end %>
    </h3>
    
      <% @leases.each do |lease, tenant| %>
        <% if @property.leases %>
          <%= link_to property_lease_path(@property, lease) do %>
            <div class="property-leases">
              <% if lease.tenant %>
              <p>Name: <%= lease.tenant.name %></p>
              <% end %>
              <p>Rate: <%= lease.amount %> rent per. Month</p>
            </div>
          <% end %>
        <% end %>
      <% end %>   

      <% if @leases.count == 0 %>
          <p>You have No Lease Agreements to List.</p>
      <% end %> 

  </div>

</div>