<h1>
Application for <%= @property.address %>.
</h1>

<h3>
<% if current_tenant %>
	You are <%= current_tenant.name %>, please fill out your details below...
<% else %>
	You are <%= current_landlord %>, review this application!
<% end %>
</h3>

<%= simple_form_for [@property, @lease] do |f| %>
	<div class="form-margins">

		<% if current_landlord.properties.include?(@property) && landlord_signed_in? %>
			<%= f.input :name, placeholder: "Give it a name!" %>
			<%= f.input :amount, placeholder: "Amount of each Payment per Month." %>
			<%= f.input :description, as: :text, placeholder: "Write something about " %>
			<%= f.input :interval, placeholder: "eg. (An interval of 2 would mean billing every 2 Months.)" %>
			<%= f.input :approved, inline_label: "Approve this Lease?" %>
			<%= f.association :tenant, collection: Tenant.all %>
			<%= f.button :submit, "APPROVE & SAVE", class: "btn btn-submit" %>
		<% elsif tenant_signed_in? %>
			<div class="show-property">
			<%= f.input :name, input_html: { value: current_tenant.name }, placeholder: "Your Name eg. Bob" %>
			<%= f.input :amount, placeholder: "Your Proposed Payment per Month." %>
			<%= f.input :interval, placeholder: "How often do you want to be billed for rent? eg. 1 is per month." %>
			<%= f.input :description, as: :text, placeholder: "Write something about yourself." %>
			</div>
			<hr>
			
			<h2>Proof of Identification</h2>

				<div class="show-property">
					<p>We need a valid proof of your identity for bookeeping and legal purposes only. We will not disclose your information to anyone.</p>
					<p> You'll need <em>100 points</em> in total to pass!</p>
					<hr>
					<div class="row">	
						<div class="col-md-6">
							<h4>Documents Accepted by Identification Check</h4>
						</div>
						<div class="col-md-6 col-center">
							<h4>Points per Document</h4>
						</div>
					</div>

					<div class="row">	
						<div class="col-md-6">
							<p>Driver's License / Birth Certificate</p>
						</div>
						<div class="col-md-6 col-center">
							<p>70</p>
						</div>
					</div>

					<div class="row">	
						<div class="col-md-6">
							<p>Other Photo ID eg. Pension, Student Card</p>
						</div>
						<div class="col-md-6 col-center">
							<p>40</p>
						</div>
					</div>			

					<div class="row">	
						<div class="col-md-6">
							<p>2 recent Rent Receipts /􏰀 Tenant Ledger</p>
						</div>
						<div class="col-md-6 col-center">
							<p>25</p>
						</div>
					</div>			
			
					<hr>

					<div class="row">	
						<div class="col-md-12">
							<h4>Documents on which your name and current address appear:</h4>
						</div>
						<div class="col-md-12">
							<p>Car registration certificate</p>
							<p>Rates Notice</p>
							<p>Gas Account</p>
							<p>Telephone Account</p>
							<p>Bank / Credit Card Statement</p>
						</div>
					</div>	
					
					<hr>

					<div class="row">	
						<div class="col-md-12">
							<h4>Documents Accepted for Proof of Income:</h4>
						</div>
						<div class="col-md-12">
							<p>2 Most Recent Payslips</p>
							<p>Letter from accountant (if self employed) 􏰀Bank statements</p>
							<small><em>* You may upload multiple documents at a time.</em></small>
						</div>
					</div>	

					<br>		

				  <div class="btn btn-identification btn-file">
						<%= f.input "Upload My Proof!", as: :file, multiple: true %>						
					</div>
					<br>				
				</div>
			<%= f.button :submit, "Submit Your Application!", class: 'btn btn-submit' %>
			</div>
			
			
		<% end %>
<% end %>