<div class="col-md-12 col-center">

<h1>
Thankyou for Applying <%= @lease.tenant.name %>! Your Application has been Approved!
</h1>


<%= simple_form_for @lease, 
    :url => url_for(:action => 'save_credit_card', :controller => 'leases'),
    :method => 'post' do |f| %>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_SECRET_KEY'] %>"
    data-amount="<%= @amount * 100 %>"
    data-name="INNKEEPER"
    data-description="Create a Plan of $<%= @amount %> per month"
    data-label="Continue with © Stripe"
    data-image="/128x128.png">
  </script>

<% end %>

</div>


