<div class="col-md-12">

<%= @lease.tenant.name %>
<%= form_for save_credit_card_property_lease_path(@property, @lease) do |f| %>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_SECRET_KEY'] %>"
    data-amount="<%= @lease.amount %>"
    data-name="INNKEEPER"
    data-description="Create a Plan of $<%= @display_amount  %> per month"
    data-label="Add A Credit Card with © Stripe"
    data-image="/128x128.png">
  </script>

<% end %>

</div>


