<div class="col-md-12">

<h2>Add New Billing and Lease Info for <%= @lease.tenant.name %>.</h2>



<%= simple_form_for @lease, 
    :url => url_for(:action => 'save_credit_card', :controller => 'leases'),
    :method => 'post' do |f| %>
    <h3>Applicants Details:</h3>
    <%= f.input :name %>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_SECRET_KEY'] %>"
    data-amount="<%= @lease.amount %>"
    data-name="INNKEEPER"
    data-description="Create a Plan of $<%= @display_amount  %> per month"
    data-label="Add A Credit Card with © Stripe"
    data-image="/128x128.png">
  </script>

<% end %>

</div>


